[Unit]
Description=Attempts to update the Lets Encrypt SSL certificate

[Service]
Type=simple
ExecStart=/var/AutomataFiddle/config/services/automatafiddle-ssh-renew.sh
